@import "variables.scss";

body {
    background-color: var(--body-background);
    margin:0;
    padding:0;
    cursor: default !important;
}

div.top-bar {
    color: var(--top-bar-font-color);
    font-family: 'Press Start 2P', cursive;
    background-color: var(--top-bar-background);
    padding: 1.4em 1.2em 1em 1.2em;
    border-bottom: 1px solid var(--top-bar-border-color);
}

div.icon-bar {
    margin: 1em 2em;
    display:flex;
    justify-content: space-between;

    a, a:active, a:hover, a:visited, :any-link {
        color: var(--icon-link-color);
    }
}

div.footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--bottom-bar-background);
    border-top: 1px solid var(--bottom-bar-border-color);
    color: var(--bottom-bar-font-color);
    padding:.5em;

    div.beats-container {
        font-size:.6em;

        a, a:active, a:hover, a:visited, :any-link {
            color: var(--footer-link-color);
        }

        a, a:visited, :any-link {
            text-decoration: none;
        }

        a:active, a:hover {
            text-decoration: underline;
        }
    }
}
