@import "variables.scss";

body {
    margin:0;
    padding:0;
    cursor: default !important;

    div.main-container {
        display:flex;
        flex-basis: 50%;
        justify-content: center;
        flex-direction: column;

        img.intro-image {
            width:120px;
            height:120px;
            
        }
    }

    div.center-container {

        display:flex;
        flex-basis: 50%;

        img.intro-image {

        }
    }
}