:root {
    --body-background: #212529;

    --top-bar-background: #333;
    --top-bar-font-color: #FFF;
    --top-bar-border-color: #FFF;

    --bottom-bar-background: #333;
    --bottom-bar-font-color: #FFF;
    --bottom-bar-border-color: #FFF;

    --icon-link-color: #333;
    --icon-hover-link-color: #444;
    --footer-link-color: #FFF;
}