:root {
    --main-background:#262F3F;
    --main-header-text-color:#FFFFFF;
    --icon-color:#FFFFFF;
    --icon-color-hover:rgb(22, 137, 204);
    --main-text-color:#FFFFFF;
    --secondary-color:#F4C09E;
    --card-background-color:#EEEEEE;
}